@page "/"

@inject OpenAIConfig OpenAIConfig



@if (OpenAIConfig.OpenAIConfigured)
{
    <h1>AI-050 Lab Emulator</h1>
    <span>Select a demo on the left to get started.</span>

    <div class="alert alert-info" role="alert">
        FYI: To keep token usage at a minimum, chat state is not kept between requests.
    </div>


    <div class="alert alert-warning" role="alert">
        Warning: This is for demo use only.Do not enter private or sensitive information.
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h1>Configuration Error</h1>
        Azure Open API Settings cannot be found. This installation has not been completeted. Please see the README for further deployment instructions.
    </div>
}