@page "/"

<h1>AI-050 Lab Emulator</h1>

Select a lab on the left to get started.


<div class="alert alert-info" role="alert">
    FYI: To keep token usage at a minimum, chat state is not kept between requests.
</div>


<div class="alert alert-warning" role="alert">
    Warning: This is for demo use only. Do not enter private or sensitive information.
</div>