@page "/lab05"
@rendermode InteractiveServer

<h2>Lab 5</h2>

Use the resources from either 

<a href="https://bing.com/chat" target="_blank">https://bing.com/chat</a> or
<a href="https://bing.com/create" target="_blank">https://bing.com/create</a>
for a full experience.

@code {
   
}
