@page "/lab02"
@rendermode InteractiveServer

<h2>Lab 2</h2>

This lab cannot be emulated. This is a Cloudshell lab. You will be an access to an Azure Subscription and deploy an Azure OpenAI instance.

@code {
   
}
