@page "/lab06"
@rendermode InteractiveServer
@using AI050LabAlternate.Labs.Lab06
@using Azure

@inject NavigationManager Navigation
@inject EditSuccess EditSuccessState
@inject OpenAIClient OpenAIClient
@inject OpenAIConfig OpenAIConfig

@if (LabModel is not null)
        {

<Lab06Form Busy="@Busy"
           LabModel="@LabModel"
           ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
        }
@if (Success)
        {
<br />
<div class="alert alert-success">The API was Called was successfully.</div>
        }
@if (Error)
        {
<br />
<div class="alert alert-danger">Failed call the api (@ErrorMessage).</div>
        }

@code {
    private Lab06Model? LabModel { get; set; }



    // True when an asynchronous operation is running.
    private bool Busy;

    // True after successful add.
    private bool Success;

    // True when an error occurred.
    private bool Error;

    private string ErrorMessage = string.Empty;

    // Start with fresh LabModel.
    protected override Task OnInitializedAsync()
    {
    LabModel = new();
    return base.OnInitializedAsync();
    }

    // Respond to a forms submission.
    // success is True when valid.
    private async Task ValidationResultAsync(bool success)
    {
    if (Busy)
    {
        return;
    }

    if (!success)
    {
        Success = false;
        Error = false;
        return;
    }

    Busy = true;
    var client = OpenAIClient ?? throw new NullReferenceException("OpenAIClient is null. Configuration or Dependency Injection has failed");
    if (LabModel is null)
    {
        throw new NullReferenceException("LabModel is null. Initialization of form has failed");
    }
    try
    {
        var messages = new List<ChatMessage>();


        if (!string.IsNullOrEmpty(LabModel.SystemMessage))
        {
            messages.Add(new ChatMessage(ChatRole.System, LabModel.SystemMessage));
        }

        messages.Add(new ChatMessage(ChatRole.User, LabModel.QueryMessage));

        var options = new ChatCompletionsOptions(OpenAIConfig.DeploymentName, messages);
        options.Temperature = LabModel.Temperature ?? 0;
        options.MaxTokens = LabModel.MaxResponses;
        if (LabModel.UseCustomDataSource)
        {
            var searchConfiguration = new AzureCognitiveSearchChatExtensionConfiguration()
                {
                    SearchEndpoint = new(OpenAIConfig.SearchEndpoint),
                    IndexName = OpenAIConfig.SearchIndexName
                };
            searchConfiguration.SetSearchKey(OpenAIConfig.SearchKey);
            var chatExtensions = new AzureChatExtensionsOptions();
            chatExtensions.Extensions.Add(searchConfiguration);
            options.AzureExtensionsOptions = chatExtensions;
        }




        ChatCompletions response = await client.GetChatCompletionsAsync(options);
        if (response is null)
        {
            throw new NullReferenceException("Response is null. The API call has failed");
        }
        LabModel.ResponseMessage = response.Choices[0].Message.Content;
        success = true;

    }
    catch (Exception ex)
    {
        LabModel.ResponseMessage = ex.ToString();
        success = false;
    }
    Busy = false;

    }

}
